@model Product
<h1>Update Product</h1>
@{
	Layout = "_AdminLayout";
}
@{
	SelectList CatList = new SelectList(ViewBag.Categories, "Id", "Name");
}
<link href="/css/Form.css" rel="stylesheet" />
<form asp-controller="Product" asp-action="SaveUpdate" method="post" asp-route-id="@Model.Id">
	<div class="Text">
		<label asp-for="Sku"></label>
		<input type="text" asp-for="Sku" value="@Model.Sku"/>
		<span asp-validation-for="Sku" class="text-danger"></span>
	</div>

	<div class="Text">
		<label asp-for="Name"></label>
		<input type="text" asp-for="Name" value="@Model.Name"/>
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>

	<div class="Text">
		<label asp-for="Price"></label>
		<input type="number" asp-for="Price" value="@Model.Price" />
		<span asp-validation-for="Price" class="text-danger"></span>
	</div>

	<div class="Text">
		<label asp-for="Weight"></label>
		<input type="number" asp-for="Weight" value="@Model.Weight" />
		<span asp-validation-for="Weight" class="text-danger"></span>
	</div>

	<div class="Text">
		<label asp-for="Descripition"></label>
		<input type="text" asp-for="Descripition" value="@Model.Descripition" />
		<span asp-validation-for="Descripition" class="text-danger"></span>
	</div>

	<div class="Text">
		<label asp-for="Thumbnail"></label>
		<input type="text" asp-for="Thumbnail" value="@Model.Thumbnail" />
		<span asp-validation-for="Thumbnail" class="text-danger"></span>
	</div>

	<div class="Text">
		<label asp-for="Image"></label>
		<input type="text" asp-for="Image" value="@Model.Image" />
		<span asp-validation-for="Image" class="text-danger"></span>
	</div>


	<div class="Text">
		<label asp-for="CategoryId"></label>
		<select asp-for="CategoryId" asp-items="CatList">
			<option value="">--No Category--</option>
		</select>
		<span asp-validation-for="CategoryId" class="text-danger"></span>
	</div>

	<div class="Text">
		<label asp-for="CreateDate"></label>
		<input type="date" asp-for="CreateDate" value="@Model.CreateDate" />
		<span asp-validation-for="CreateDate" class="text-danger" ></span>
	</div>

	<div class="Text">
		<label asp-for="Stock"></label>
		<input type="number" asp-for="Stock" value="@Model.Stock"/>
		<span asp-validation-for="Stock" class="text-danger"></span>
	</div>

	<input type="submit" value="Add" class="Submit" />
</form>

@section Scripts {
	@* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
